<div class="panel panel-default">
    <div class="row panel-heading">
        <div class="input-group col-md-8 col-xs-16">
            <span class="input-group-addon" id="basic-addon3">https://server-name:8080/</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"  value='{{serverUrl}}'>
        </div>
    </div>

    <div class="row panel-heading">
        <div class="col-md-2 col-xs-4">
            <input type='text' id='userName' ng-model='user.name' placeholder='User' />
        </div>
        <div class="col-md-2 col-xs-4">
            <input type='password' id='password' ng-model='user.password' placeholder='Password' />
        </div>
        <div class="col-md-4 col-xs-8">
            <button type="submit">Validate</button>
        </div>
    </div>

</div>