<form name="FRM_AUTH">
    <div class="panel panel-default">
        <div class="row panel-heading">
            <div class="input-group col-md-8 col-xs-16">
                <span class="input-group-addon" id="basic-addon3">https://server-name:8080/</span>
                <input type="text" class="form-control"  id="URL" aria-describedby="basic-addon3" value='{{auth.serverUrl}}' required maxlength="100" ng-trim ng-model='auth.serverUrl'>
            </div>
            <div ng-messages="FRM_AUTH.URL.$error" role="alert">
                <div ng-message="required">Please supply a valid URL.</div>
                <div ng-message="maxlength">This field can be at most 100 characters long.</div>
            </div>
        </div>

        <div class="row panel-heading">
            <div class="col-md-2 col-xs-4">
                <input type='text' id='userName' ng-model='auth.name' placeholder='User' />
            </div>
            <div class="col-md-2 col-xs-4">
                <input type='password' id='password' ng-model='auth.password' placeholder='Password' />
            </div>
            <div class="col-md-4 col-xs-8">
                <button type="submit" ng-click="validate()">Validate</button>
            </div>
        </div>
    </div>

</form>