<form name="credentialsForms">
    <label>User Name:<input type="text" ng-model="user.name" maxlength="35"/></label>
    <label>Password:<input type="password" ng-model="user.password"/></label>
    <button type="submit">Validate</button>    
    <div ng-messages="credentialsForms.user.name.$error" role="alert">
        <div ng-message="required">Please enter a value for this field.</div>                
        <div ng-message="maxlength">This field can be at most 35 characters long.</div>
    </div>
</form>